<form action="">
  <div class="input-field">
    <label for="weight">Enter the weight to convert</label>
    <input type="text" id="length" />
  </div>
  <div class="input-field">
    <label for="from">Unit to convert from</label>
    <input type="text" id="from" />
  </div>
  <div class="input-field">
    <label for="to">Unit to convert to</label>
    <input type="text" id="to" />
  </div>

  <button>Convert</button>
</form>
