<form id="temp-form" action="/api/convert/temperature" method="post">
  <div class="input-field">
    <label for="temp-value">Enter the temperature to convert</label>
    <input type="text" id="temp-value" name="value" />
  </div>
  <div class="input-field">
    <label for="temp-from">Unit to convert from</label>
    <input type="text" id="temp-from" name="from" />
  </div>
  <div class="input-field">
    <label for="temp-to">Unit to convert to</label>
    <input type="text" id="temp-to" name="to" />
  </div>
  <button>Convert</button>
</form>
