<form action="/api/convert/weight" id="weight-form" method="post">
  <div class="input-field">
    <label for="weight-value">Enter the weight to convert</label>
    <input type="text" id="weight-value" name="value" />
  </div>
  <div class="input-field">
    <label for="weight-from">Unit to convert from</label>
    <input type="text" id="weight-from" name="from" />
  </div>
  <div class="input-field">
    <label for="weight-to">Unit to convert to</label>
    <input type="text" id="weight-to" name="to" />
  </div>
  <button>Convert</button>
</form>
